In [2]:
import oracledb

In [3]:
dsn = oracledb.makedsn("localhost", 1522, service_name="stu")
connection = oracledb.connect(user="ora_zyx97", password="a88719752", dsn=dsn)

cur = connection.cursor()
for row in cur.execute("select * from titles"):
    print(row)
cur.close()

OperationalError: DPY-6005: cannot connect to database (CONNECTION_ID=PsbhBBzNEcMHmqM4sum++Q==).
[WinError 10061] No connection could be made because the target machine actively refused it